ion-content{
    --background: #F0F4FD;
    border-top: 3px solid #ff9000;
    
    p{
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;

        margin: 0;
    }
    ion-card-header{
        color:black;
    }
}