<ion-content>
  <div class="header">
    <header>
      <div id="h1"><b>AV</b>ION<ion-icon name="airplane"></ion-icon></div>
      <nav>
        <ion-buttons>
         <ion-button [routerLink]="['/home']">Home</ion-button>
       </ion-buttons>
       <ion-buttons>
         <ion-button [routerLink]="['/receipt']">Flight Receipt</ion-button>
       </ion-buttons>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;
       <ion-buttons>
         <ion-button [routerLink]="['/']">Log Out</ion-button>
       </ion-buttons>
      </nav>
    </header>
  
    <ion-card style="height: 280px; width:1000px; position: absolute; margin-top:10%;background:#111236 ;">
      <div id="h3">Find the best flight for the right price</div>
      <ion-label style="color: white; margin-top: 8.5%; position: absolute; left:10px">Type of Travelers</ion-label>
      <ion-label style="color: white; margin-top: 8.5%; position: absolute; left:26%">Type of Travel</ion-label>
      <ion-label style="color: white; margin-top: 8.5%; position: absolute; left:51.2%">Cabin Class</ion-label>
      <ion-label style="color: white; margin-top: 8.5%; position: absolute; left:68.5%">Travelers</ion-label>
      <ion-card style="position: absolute;margin-top: 10%; width: 250px;">
      <ion-item>
        <ion-icon name="people-circle-outline" slot="start"></ion-icon>
        <ion-select [(ngModel)]="passTravelers">
          <ion-select-option value="adult">Adult</ion-select-option>
          <ion-select-option value="child">Child</ion-select-option>
          <ion-select-option value="teen">Teen</ion-select-option>
          <ion-select-option value="senior">Senior Citizen</ion-select-option>
          <ion-select-option value="pwd">PWD</ion-select-option>
          <ion-select-option value="pregnant">Pregnant</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>
    <ion-card style="position: absolute;left: 250px;margin-top: 10%; width: 250px;">
      <ion-item>
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-select [(ngModel)]="passTravtype">
          <ion-select-option value="return">Return</ion-select-option>
          <ion-select-option value="one">One Way</ion-select-option>
          <ion-select-option value="multi">Multi City</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>
    <ion-card style="position: absolute;left: 500px;margin-top: 10%; width: 172.8px; border-left-width: 1px solid black;">
      <ion-item>
        <ion-icon name="airplane-outline" slot="start"></ion-icon>
        <ion-select [(ngModel)]="passClass">
          <ion-select-option value="economy">Economy</ion-select-option>
          <ion-select-option value="economyprem">Economy Premium</ion-select-option>
          <ion-select-option value="business">Business</ion-select-option>
          <ion-select-option value="first">First</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>
    <ion-card style="position: absolute;left: 672px;margin-top: 10%; width: 172.8px;">
      <ion-item>
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-input [(ngModel)]="passCount" placeholder="Travelers" ></ion-input>
      </ion-item>
    </ion-card>
    <ion-button style="position: absolute; left: 77.5%; margin-top: 18%;" color="dark" [routerLink]="['/home']">
      Back</ion-button>
    <ion-button style="position: absolute; left: 85%; margin-top: 18%;" color="dark" (click)="addflight2()">
      Next
    </ion-button>
    
  </ion-card>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
  
    <div class="box">
      <div class="imgbox">
            <img src="assets/images/passenger.jpg">
        </div>
        <div class="details">
                    <div class="content">
                        <a href=""><h2>Passengers</h2></a>
                    </div>
                </div>
    </div>
    <div class="box">
      <div class="imgbox">
            <img src="assets/images/work.jpg">
        </div>
        <div class="details">
                    <div class="content">
                        <a href=""><h2>Work With Us</h2></a>
                    </div>
                </div>
    </div>
    <div class="box">
      <div class="imgbox">
            <img src="assets/images/pilot.jpg">
        </div>
        <div class="details">
                    <div class="content">
                        <a href="#"><h2>Pilots</h2></a>
                    </div>
                </div>
    </div>
    </div>
  </ion-content>