<div id="hero">
  <ion-card style="width:500px; height: 55%; left:500px; margin-top:100px; background: transparent;">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start" [routerLink]="['/']">
          <ion-button color="primary">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
        <h1>Login Admin</h1>
        <ion-item>
          <ion-icon name="person-outline"></ion-icon>
          <ion-input type="text" [(ngModel)]="user" placeholder="Username" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input type="password" [(ngModel)]="pass" placeholder="Password" required></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="loginadmin()">Login</ion-button>
    </ion-content>
    </ion-card>
  </div>
    