<ion-header>
  <ion-toolbar>
    <ion-item Lines="none">
      <ion-label style="font-weight: 800px;font-size: 3em;">
      </ion-label>
      </ion-item>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/bookedflight']">Book Flight</ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/user']">Users</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/loginscreen']">Log Out</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container1">
    <br>
    <br>
    <br>
      <h1 style="text-align: center;"> Admin.</h1>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="container2">
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    <div class="box2">
      <div class="imgbox">
            <img src="assets/images/passenger.jpg">
        </div>
        <div class="details">
                    <div class="content">
                        <a href=""><h2>Passengers</h2></a>
                    </div>
                </div>
    </div>
    <div class="box2">
      <div class="imgbox">
            <img src="assets/images/work.jpg">
        </div>
        <div class="details">
                    <div class="content">
                        <a href=""><h2>Work With Us</h2></a>
                    </div>
                </div>
    </div>
    <div class="box2">
      <div class="imgbox">
            <img src="assets/images/pilot.jpg">
        </div>
        <div class="details">
                    <div class="content">
                        <a href="#"><h2>Pilots</h2></a>
                    </div>
                </div>
    </div>
    </div>
</ion-content>
