<ion-header>
  <ion-toolbar>
    <ion-item Lines="none">
      <ion-label style="font-weight: 800px;font-size: 3em;">
      </ion-label>
      </ion-item>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/admin']">Admin</ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/bookedflight']">Book Flight</ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/user']">Users</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/loginscreen']">Log Out</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button style="width: 150px; text-align: center;">Fullname</ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button style="width: 150px; text-align: center;">Age</ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button style="width: 150px; text-align: center;">Phone #</ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button style="width: 150px; text-align: center;">Email</ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button style="width: 150px; text-align: center;">Address</ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar style="height: 400px;">
      <ion-buttons slot="start">
        <ion-button style="width: 200px; text-align: center;">
        <ion-label></ion-label>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button style="width: 200px; text-align: center;">
        <ion-label></ion-label>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button style="width: 200px; text-align: center;">
        <ion-label></ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    </ion-card-header>
    </ion-card>
</ion-content>
